.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  transition: opacity 0.1s ease-in-out;
}

.footer__column-link:hover {
  opacity: 0.5;
}